body{
    margin: 0;
    height: 100vh;
    /* width: 100vh; */
    background: black;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin: auto;
    position: relative;
    height: 130px;
    width: 550px;
    overflow: hidden;
}

h1, .gradient{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin: 0;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: .5rem;
    padding-left: 4px;
    z-index: 1;
    background: black;
    width: 90%;
    mix-blend-mode: multiply;
}

.gradient{
    height: 130px;
    width: 300%;
    background: linear-gradient(90deg, darkred, red, orange, yellow,
    green, darkgreen, darkblue, blue, lightblue);
    animation: gradient 2s linear infinite alternate;
}

@keyframes gradient{
    0% {
        transform: translate(-25%, -50%);
    }
    100% {
        transform: translate(-75%, -50%);
    }
}